# Numeric Data Type

## 정수형

In [40]:
a = 0
a = 123
a = -123

## 실수형

In [45]:
a = 1.1
a = -3.14

## 지수 표현 방식 (E or e)

In [44]:
a = 4.24E10 # 4.24 * 10^10
a = 4.24e-10 # 4.24 * 10^-10

## $x$의 $y$제곱 = x ** y

In [46]:
a = 3
b = 2
a ** b

9

## // : 나눗셈 후 몫을 return

In [49]:
print(7/4)
print(7//4)

1.75
1

---

# String Data Type (immutable)

## ' ', " ", ''' ''', """ """

In [50]:
'Hello World'

'Hello World'

In [51]:
"Hello World"

'Hello World'

In [52]:
'''Hello World'''

'Hello World'

In [53]:
"""Hello World"""

'Hello World'

## str에 따옴표 표함

In [61]:
# 큰 따옴표 안에 작은 따옴표
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [60]:
# 작음 따옴표 안에 큰 따옴표
say = '"Python is very easy." he says'
print(say)

"Python is very easy." he says

In [63]:
# \' \' or \" \"
food = 'Python\'s favorite food is perl'
print(food)

say = "\"Python is very easy.\" he says"
print(say)

Python's favorite food is perl
"Python is very easy." he says

## 여러 줄인 str을 변수에 대입

In [65]:
multiline = '''
Lie is too short
You need python
'''
print(multiline)

Lie is too short
You need python

In [66]:
multiline = """
Lie is too short
You need python
"""
print(multiline)

Lie is too short
You need python

## str 연산

In [67]:
head = "Python"
tail = "is fun!"
print(head + tail)

Pythonis fun!

In [70]:
a = "python"
print(a * 2)

pythonpython

In [71]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

## len() : 문자열 길이 return

In [72]:
a = "Life is too short"
len(a)

17

## Indexing

In [78]:
a = "Life is too short, You need Python"
print(a[0])
print(a[-0])

print(a[1])

print(a[-1])
print(a[-2])

L
L
i
n
o

## Slicing

In [81]:
a = "Life is too short, You need Python"

print(a[0])
print(a[3])

print(a[0:4]) # a[0] + a[1] + a[2] + a[3]

L
e
Life

In [86]:
print((a[:2]))

print(a[19:])

print(a[19:-7])

print(a[:])

Li
You need Python
You need
Life is too short, You need Python

In [91]:
a = "Pithon"
print(a)

a[1] = 'y' # Error : str은 immutable(변경 불가능한) data type이기 때문
print(a)

Pithon

TypeError: 'str' object does not support item assignment

In [92]:
a = "Pithon"
print(a)

print(a[:1] + 'y' + a[2:]) # Python

Pithon
Python

## string formatting

In [98]:
print("I eat %d apples." % 3)
print("I eat %s apples." % "three")

number = 3
print("I eat %d apples." % number)

number = 10
day = "three"
print("I ate %d apples. so I was sick for %s days." % (number, day))

I eat 3 apples.
I eat three apples.
I eat 3 apples.
I ate 10 apples. so I was sick for three days.

In [109]:
# % 출력하기
print("%d%" % 98)   # Error

ValueError: incomplete format

In [110]:
print("%d%%" % 98)  # %를 출력하기 위해서는 %를 두 번 써야 한다.

98%

## format 함수를 사용한 formatting

In [114]:
print("I eat {0} apples".format(3))
print("I eat {0} apples".format("three"))

number = 3
print("I eat {0} apples".format(number))

number = 10
day = "three"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

print("I ate {number} apples. so I was sick for {day} days.".format(number=7, day=5))
print("I ate {0} apples. so I was sick for {day} days.".format(7, day=5))

I eat 3 apples
I eat three apples
I eat 3 apples
I ate 10 apples. so I was sick for three days.
I ate 7 apples. so I was sick for 5 days.
I ate 7 apples. so I was sick for 5 days.

## 정렬 & 공백 채우기

In [118]:
print("{0:<10}".format("hi")) # 왼쪽 정렬하고 문자열의 총 자릿수를 10으로 맞추기
print("{0:-<10}".format("hi")) # 왼쪽 정렬하고 문자열의 총 자릿수를 10으로 맞추는데, '-'으로 채우기

hi
hi--------

In [120]:
print("{0:>10}".format("hi")) # 오른쪽 정렬하고 문자열의 총 자릿수를 10으로 맞추기
print("{0:~>10}".format("hi")) # 오른쪽 정렬하고 문자열의 총 자릿수를 10으로 맞추는데, '~'으로 채우기

        hi
~~~~~~~~hi

In [122]:
print("{0:^10}".format("hi")) # 가운데 정렬하고 문자열의 총 자릿수를 10으로 맞추기
print("{0:=^10}".format("hi")) # 가운데 정렬하고 문자열의 총 자릿수를 10으로 맞추는데, '='으로 채우기

    hi
====hi====

## 소수점 표현하기

In [124]:
y = 3.42134234
print("{0:0.4f}".format(y))

3.4213

In [130]:
print("{0:10.4f}".format(y))

    3.4213

## {} 문자 표현하기

In [132]:
print("{{ and }}".format())
print("{{}}을 표현하려면, {{}}".format())

{ and }
{}을 표현하려면, {}

## 문자열 관련 함수들

### count() : 문자 개수 세기

In [133]:
a = "hobby"
a.count('b')

2

### find() : 위치 알려주기 1

In [136]:
a = "Python is the best choice"
print(a.find('b')) # 'b'가 처음 나온 위치 반환
print(a.find('k')) # 'k'가 없기 때문에 -1 반환  (find는 찾는 문자나 문자열이 존재하지 않을 때 -1 반환)

14
-1

### index() : 위치 알려주기 2

In [138]:
a = "Python is the best choice"
print(a.index('b')) # 'b'가 처음 나온 위치 반환
print(a.index('k')) # 'k'가 없기 때문에 Error

14

ValueError: substring not found

### join() : 문자열 삽입

In [139]:
a = ","
a.join('abcd')

'a,b,c,d'

In [140]:
a = ","
a.join(['a', 'b', 'c', 'd'])

'a,b,c,d'

### upper() : 소문자를 대문자로 바꾸기

In [141]:
a = "hi"
a.upper()

'HI'

### lower() : 대문자를 소문자로 바꾸기

In [142]:
a = "HI"
a.lower()

'hi'

### strip() : 양쪽 공백 지우기

In [144]:
a = " hi "
print(a.lstrip()) # 왼쪽 공백 제거
print(a.rstrip()) # 오른쪽 공백 제거
print(a.strip()) # 양쪽 공백 제거

hi
 hi
hi

### replace() : 문자열 바꾸기

In [145]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

### split() : 문자열 나누기

In [150]:
a = "Life is too short"
print(a.split()) # 공백을 기준으로 문자열 나누기

['Life', 'is', 'too', 'short']

In [151]:
b = "a:b:c:d"
print(b.split(':')) # ':'을 기준으로 문자열 나누기

['a', 'b', 'c', 'd']

### 주의할 점 :'string은 immutable data type'

In [156]:
a = 'hi'

a.upper()
print(a) # a는 string type(immutable)이기 때문에 바뀌지 않음

a = a.upper()
print(a) # 대입 연산자를 사용하여 바뀜

hi
HI

# List Data Type (mutable)

* []
* list명 = [elem1, elem2, elem3, ...]
* elem의 생성, 삭제, 수정이 가능

In [1]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

## list indexing

In [2]:
a = [1, 2, 3]
a

[1, 2, 3]

In [4]:
print(a[0])
print(a[0] + a[2])
print(a[-1])

1
4
3

In [6]:
a = [1, 2, 3, ['a', 'b', 'c']]

print(a[0])
print(a[-1])
print(a[3])
print(a[-1][0])

1
['a', 'b', 'c']
['a', 'b', 'c']
a

## list slicing

In [9]:
a = [1, 2, 3, 4, 5]
print(a[0:2])
print(a[:2])
print(a[2:])

[1, 2]
[1, 2]
[3, 4, 5]

In [10]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

## list 더하기 (+)

In [12]:
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)

[1, 2, 3, 4, 5, 6]

## list 반복하기 (*)

In [13]:
a = [1, 2, 3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## list 길이 구하기

In [16]:
a = [1, 2, 3]
print(len(a))

a = [1, 2, 3, ['a', 'b', 'c']]
print(len(a))

3
4

## list 연산 오류 주의사항

In [19]:
a = [1, 2, 3]

print(a[2] + "hi") # Error : integer와 str은 더해질 수 없음

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
print(str(a[2]) + "hi")

3hi

## list element 삭제 (del)

In [24]:
a = [1, 2, 3]
del a[1]
print(a)

[1, 3]

In [25]:
a = [1, 2, 3, 4, 5]
del a[:2]
print(a)

[3, 4, 5]

## list 관련 함수

### append : list에 element 추가

In [4]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [5]:
a.append([5, 6])
print(a)

[1, 2, 3, 4, [5, 6]]

### sort : list 정렬

In [6]:
a = [4, 3, 2, 1]
a.sort()
print(a)

[1, 2, 3, 4]

In [7]:
a = ['c', 'b', 'a']
a.sort()
print(a)

['a', 'b', 'c']

### reverse : list 뒤집기

In [10]:
a = ['a', 'c', 'b']
a.reverse()
print(a)

['b', 'c', 'a']

### index : list element 위치 반환

In [11]:
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))

2
0

### insert : list에 element 삽입

In [12]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)

[4, 1, 2, 3]

In [13]:
a.insert(3, 5)
print(a)

[4, 1, 2, 5, 3]

### remove : list element 제거

In [14]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # 처음 나오는 3을 삭제
print(a)

[1, 2, 1, 2, 3]

### pop : list 마지막 element pop

In [16]:
a = [1, 2, 3]

print(a.pop())
print(a)

print(a.pop())
print(a)

print(a.pop())
print(a)

3
[1, 2]
2
[1]
1
[]

In [17]:
a = [1, 2, 3]

print(a.pop(1)) # 1번째 index의 element를 pop
print(a)

2
[1, 3]

### count : list에 포함된 element x 개수 세기

In [18]:
a = [1, 2, 3, 1]

a.count(1)

2

### extend : list 확장 (+=)

In [24]:
a = [1, 2, 3]
print(a)

a.extend([4, 5])
print(a)

b = [6, 7]
a.extend(b)
print(a)

c = [8, 9]
a += c
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuple Data Type (immutable)

* ()
* tuple명 = (elem1, elem2, elem3, ...)
* elem의 생성, 삭제, 수정이 불가능

In [28]:
t1 = ()
t2 = (1,) # 한 개의 elem만 있을 땐 elem 뒤에 (,)를 반드시 붙여야 함. 안 붙이면 int로 인식
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 소괄호 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))

## tuple elem값 삭제하려 할 때

In [29]:
t1 = (1, 2, 'a', 'b')
del t1[0] # Error : tuple은 immutable이기 때문에 삭제 불가능

TypeError: 'tuple' object doesn't support item deletion

## tuple elem값 변경하려 할 때

In [30]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c' # Error : tuple은 immutable이기 때문에 삭제 불가능

TypeError: 'tuple' object does not support item assignment

## Indexing

In [31]:
t1 = (1, 2, 'a', 'b')

print(t1[0])
print(t1[3])

1
b

## Slicing

In [33]:
t1 = (1, 2, 'a', 'b')

print(t1[1:])

(2, 'a', 'b')

## tuple 더하기 (+)

In [34]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)

t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

## tuple 반복하기 (*)

In [35]:
t1 = (3, 4)
t2 = t1 * 2
print(t2)

(3, 4, 3, 4)

## tuple 길이 구하기

In [36]:
t1 = (1, 2, 3, (1, 2, 3))
print(len(t1))

4

In [42]:
t1 = (1, 2, 3)
t1 += (4,)
print(t1)

(1, 2, 3, 4)

# Dictionary Data Type (mutable)

# Set Data Type (mutable)

# mutable vs. immutable

## immutable : Number, String, Tuple

In [43]:
# Number
x = 1
y = x

y += 3

print(x)
print(y)

1
4

In [44]:
# String
x = 'abc'
y = x

y += 'def'

print(x)
print(y)

abc
abcdef

In [45]:
# Tuple
x = (1, 2)
y = x

y += (3,)

print(x)
print(y)

(1, 2)
(1, 2, 3)

## mutable : List, Dictionary, Set

In [46]:
# List
x = [1, 2]
y = x

y += [3]

print(x)
print(y)

[1, 2, 3]
[1, 2, 3]

In [47]:
# Dictionary
x = {'a': 1}
y = x

y['b'] = 2

print(x)
print(y)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [48]:
# Set
x = {1, 2}
y = x

y.add(3)

print(x)
print(y)

{1, 2, 3}
{1, 2, 3}